body {
  font: 13px sans-serif;
  position: relative;
  width: 1270px;
  height: 560px;
}

form {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

.butterfly {
  fill: greenyellow !important;
  stroke: green !important;
}

.butterfly.node_selected {
  fill: green !important;
}

.spider {
  fill: red !important;
  stroke: red !important;
}

.spider.node_selected {
  fill: pink !important;
}

.node-index {
  position: absolute;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10px;
}
